# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/contents.xcworkspacedata
DerivedData/
build/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
